<div class="lot">
  <div class="lot__title">
    <div class="lot__title-link">{{title}}</div>
  </div>

  <div class="lot__img">
    <div class="lot__img-link"><img src="{{image}}" alt="There was an item image"></div>
      {{#hot}}
        <div class="lot__label ui-label">HOT</div>
      {{/hot}}
  </div>

  <div class="lot__details">
    <div class="lot__details-price">Current bid: {{price}} {{currency}}</div>
    <button class="ui-btn ui-btn_accent lot-handler__button" data-lot-id="{{id}}">Details</button>
    <div class="lot__social"></div>
  </div>
</div>