<div class="contact__item contact__item_accent">{{address}}</div>
<div class="contact__item"> E-mail: <a href="mailto:{{email}}" class="contact__item-link">{{email}}</a></div>
<div class="contact__item">Tel.: <a href="tel:{{phone}}" class="contact__item-link">{{phone}}</a></div>
<div class="contact__map"></div>
